@model QuizDerFlandriens.ViewModels.AnswerEditViewModel

@{
    ViewData["Title"] = "EditAnswer";
}

<h1>EditAnswer</h1>

<h4>Answer</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="EditAnswer" asp-route-QuestionId="@ViewData["QuestionId"]" 
              asp-route-QuizId="@ViewData["QuizId"]" asp-route-FotoURL="@ViewData["FotoURL"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (Model.Description != null)
            {
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" required class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            }
            @if (Model.FotoURL != null)
            {
                <label asp-for="Foto" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Foto" id="fileinput" class="form-control custom-file-input" onchange="answerFileOnchange()" />
                    <label class="custom-file-label">Choose Photo...</label>
                </div>
                <div class="form-group">
                    @{
                        <label asp-for="FotoURL" class="control-label">Current Photo</label>
                        var photoPath = "~/images/" + Model.FotoURL;
                        <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                        <input asp-for="FotoURL" disabled value="@ViewData["FotoURL"]" class="form-control" />
                        <span asp-validation-for="FotoURL" class="text-danger"></span>
                    }
                </div>
            }
            <div class="form-group">
                <label asp-for="Correct" class="control-label"></label>
                <select asp-for="Correct" class="form-control">
                    @if (ViewData["IsCorrect"].ToString() == "False")
                    {
                        <option value="0" selected>False</option>
                        <option value="1">True</option>
                    }
                    else
                    {
                        <option value="0">False</option>
                        <option value="1" selected>True</option>
                    }

                </select>
                <span asp-validation-for="Correct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <input asp-for="QuestionId" disabled class="form-control" value="@ViewData["QuestionId"]" />
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="QuestionAnswers" asp-route-id="@ViewData["QuestionId"]" 
       asp-route-QuizId="@ViewData["QuizId"]" asp-route-QuestionName="@ViewData["QuestionName"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
