@model IEnumerable<QuizDerFlandriens.Models.Answer>

@{
    ViewData["Title"] = "QuestionAnswers";
}

<h1>Answers of @ViewData["QuestionName"]</h1>
@{
    string errorString = "";
    if (Model.Count() < 2)
    {
        errorString = "<h3 class='text-danger'>Not enough answers in this question!</h3>";
    }
}
@{ 
    int countTrues = 0;
    bool onlyDiscriptions = true;
    bool onlyPhotos = true;
    foreach (Answer answer in Model)
    {
        if (answer.Correct.ToString() == "True")
        {
            countTrues = countTrues + 1;
        }
        if (answer.Description == null)
        {
            onlyDiscriptions = false;
        }
        if (answer.FotoURL == null)
        {
            onlyPhotos = false;
        }
    }
    if (!onlyDiscriptions && !onlyPhotos)
    {
        errorString = "<h3 class='text-danger'>There are photo answers and non-photo answers!</h3>";
    }
    if (countTrues == 0)
    {
        errorString = "<h3 class='text-danger'>There are no correct answers!</h3>";
    }
    else if (countTrues > 1)
    {
        errorString = "<h3 class='text-danger'>There are too many correct answers!</h3>";
    }
}
@if(errorString != "")
{
    if (Model.Count() < 2)
    {
        errorString = "<h3 class='text-danger'>Not enough answers in this question!</h3>";
    }
    @Html.Raw(errorString);
}

@if (Model.Count() < 10)
{
    <p>
        <a class="btn btn-success" asp-action="CreateAnswer" asp-route-id="@ViewData["QuestionId"]" asp-route-QuizId="@ViewData["QuizId"]" asp-route-createSingleAnswer="@true">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.Description != null)
                        {
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                        else
                        {
                            <span>No Description</span>
                        }

                    }
                </td>
                <td>
                    @{
                        if (item.FotoURL != null)
                        {
                            var photoPath = "~/images/" + item.FotoURL;
                            <img class="card-img-top" src="@photoPath" asp-append-version="true" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }

                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correct)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="EditAnswer" asp-route-id="@item.Id" asp-route-QuizId="@ViewData["QuizId"]" asp-route-FotoURL="@item.FotoURL">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteAnswer" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="QuizQuestions" asp-route-id="@ViewData["QuizId"]">Back to Questions</a>