@model IEnumerable<QuizDerFlandriens.Models.Quiz>

@{
    ViewData["Title"] = "Quizzes";
}

@if(ViewData["Exception"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close stretched-link" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> @ViewData["Exception"]
    </div>
}

<h1>Quizzes</h1>

<p>
    <a class="btn btn-success" asp-action="CreateQuiz">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool error = false;
            string errorString = "";
            if (item.Questions.Count() == 0)
            {
                error = true;
                errorString = "<br><span style='color: white; font-weight: 600;'>There are no questions in this quiz</span>";
            }
            else if (item.Questions.Count() < 4)
            {
                error = true;
                errorString = "<br><span style='color: white; font-weight: 600;'>There are not enough questions in this quiz</span>";
            }
            else
            {
                bool questionError = false;
                foreach (Question question in item.Questions)
                {
                    if (question.Answers.Count() < 2)
                    {
                        error = true;
                    }
                    else
                    {
                        int countTrues = 0;
                        bool onlyDiscriptions = true;
                        bool onlyPhotos = true;
                        foreach (Answer answer in question.Answers)
                        {
                            if (answer.Correct.ToString() == "True")
                            {
                                countTrues = countTrues + 1;
                            }
                            if(answer.Description == null)
                            {
                                onlyDiscriptions = false;
                            }
                            if(answer.FotoURL == null)
                            {
                                onlyPhotos = false;
                            }
                        }
                        if(!onlyDiscriptions && !onlyPhotos)
                        {
                            questionError = true;
                        }
                        if (countTrues == 0)
                        {
                            questionError = true;
                        }
                        else if (countTrues > 1)
                        {
                            questionError = true;
                        }
                    }
                }
                if (questionError)
                {
                    errorString = "<br><span class='text-warning' style='font-weight: 600;'>Question warning!</span>";
                }
            }
            if (error)
            {
                @Html.Raw("<tr class='table-danger'>")
            }
            else
            {
                @Html.Raw("<tr>")
            }


            <td>
                @Html.DisplayFor(modelItem => item.Subject)
                @Html.Raw(errorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty.Description)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="EditQuiz" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-success" asp-action="QuizQuestions" asp-route-id="@item.Id">Questions</a><br>
                <a class="btn btn-info" style="margin-top: 10px;" asp-action="QuizResults" asp-route-QuizId="@item.Id" asp-route-quizName="@item.Subject">Results</a>
                @if (error)
                {
                    <a class="btn btn-warning" style="margin-top: 10px;" asp-action="DeleteQuiz" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    <a class="btn btn-danger" style="margin-top: 10px;" asp-action="DeleteQuiz" asp-route-id="@item.Id">Delete</a>
                }

            </td>
            @Html.Raw("</tr>")
        }
            
        </tbody>
</table>

@if(ViewData["Exception"] != null)
{
    <script type="text/javascript">
        window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
            });
        }, 2000);
    </script>
}
