@model IEnumerable<QuizDerFlandriens.Models.Question>

@{
    ViewData["Title"] = "QuizQuestions";
}

    <h1>Questions of Quiz: @ViewData["QuizName"]</h1>

<p>
    <a class="btn btn-success" asp-action="CreateQuestion" asp-route-id="@ViewData["QuizId"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool error = false;
            string errorString = "";
            if (item.Answers.Count() < 2)
            {
                error = true;
                errorString = "<br><span style='color: white; font-weight: 600;'>Not enough answers in this question!</span>";
            }
            else
            {
                int countTrues = 0;
                bool onlyDiscriptions = false;
                foreach (Answer answer in item.Answers)
                {
                    if (answer.Correct.ToString() == "True")
                    {
                        countTrues = countTrues + 1;
                    }
                }
                if (countTrues == 0)
                {
                    error = true;
                    errorString = "<br><span style='color: white; font-weight: 600;'>There are no correct answers!</span>";
                }
                else if (countTrues > 1)
                {
                    error = true;
                    errorString = "<br><span style='color: white; font-weight: 600;'>There are too many correct answers!</span>";
                }
            }
            if (error)
            {
                @Html.Raw("<tr class='table-danger'>");
            }
            else
            {
                @Html.Raw("<tr>");
            }
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                @Html.Raw(errorString)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="EditQuestion" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-success" asp-action="QuestionAnswers" asp-route-id="@item.Id" asp-route-QuizId="@ViewData["QuizId"]" asp-route-QuestionName="@item.Description">Answers</a>
                @if (error)
                {
                    <a class="btn btn-warning" asp-action="DeleteQuestion" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="DeleteQuestion" asp-route-id="@item.Id">Delete</a>
                }

            </td>

        @Html.Raw("</tr>");
}
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Quizzes">Back to Quizzes</a>
