@model IEnumerable<QuizDerFlandriens.Models.Quiz>

@{
    ViewData["Title"] = "Quizzes";
}

<h1>Quizzes</h1>

<div class="card-deck">
    @if (Model.Count() == 0)
    {
        <div class="jumbotron">
            <h1 class="display-3">There are no quizzes created yet. Please return later...</h1>
        </div>
    }
    @{
        int counter = 0;
        List<bool> validQuizzes = new List<bool>();
        foreach (var item in Model)
        {
            bool isValidQuiz = true;
            if (item.Questions.Count() > 3)
            {
                List<bool> validQuestions = new List<bool>();
                foreach (Question question in item.Questions)
                {
                    bool isValidQuestion = true;
                    if (question.Answers.Count() < 2)
                    {
                        isValidQuestion = false;
                    }
                    else
                    {
                        int countTrues = 0;
                        bool onlyDiscriptions = true;
                        bool onlyPhotos = true;
                        foreach (Answer answer in question.Answers)
                        {
                            if (answer.Correct.ToString() == "True")
                            {
                                countTrues = countTrues + 1;
                            }
                            if (answer.Description == null)
                            {
                                onlyDiscriptions = false;
                            }
                            if (answer.FotoURL == null)
                            {
                                onlyPhotos = false;
                            }
                        }
                        if (!onlyDiscriptions && !onlyPhotos)
                        {
                            isValidQuestion = false;
                        }
                        if (countTrues == 0)
                        {
                            isValidQuestion = false;
                        }
                        else if (countTrues > 1)
                        {
                            isValidQuestion = false;
                        }
                    }
                    validQuestions.Add(isValidQuestion);
                }

                if (!validQuestions.Contains(true))
                {
                    isValidQuiz = false;
                }
                else
                {
                    if ((counter % 3) == 0)
                    {
                        @Html.Raw("</div>")
                        @Html.Raw("<div class='card-deck'>")
                    }
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            <h4>@item.Subject</h4>
                        </div>
                        @{
                            switch (item.Difficulty.Description)
                            {
                                case "Easy":
                                    <div class="card-header text-white bg-success">
                                        Easy
                                    </div>
                                    break;
                                case "Medium":
                                    <div class="card-header text-white bg-warning">
                                        Medium
                                    </div>
                                    break;
                                case "Hard":
                                    <div class="card-header text-white bg-danger">
                                        Hard
                                    </div>
                                    break;
                            }
                        }
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Player"))
                        {
                            <a class="btn btn-primary text-white" asp-action="PlayQuiz" asp-route-id="@item.Id">Play Quiz!</a>
                            @Html.Raw("&nbsp;")
                            <a class="btn btn-secondary text-white" asp-action="QuizScores" asp-route-id="@item.Id" asp-route-quizName="@item.Subject">Scores</a>
                        }
                        else
                        {
                            <a class="btn btn-primary text-white" data-toggle="modal" data-target="#loginModal">Play Quiz!</a>
                            @Html.Raw("&nbsp;")
                            <a class="btn btn-secondary text-white" data-toggle="modal" data-target="#loginModal">Scores</a>
                        }

                    </div>
                        <div class="card-footer">
                            @{
                                List<int> scores = new List<int>();
                                foreach (var result in item.Results)
                                {
                                    scores.Add(result.Score);
                                }
                                if (scores.Count() > 0)
                                {
                                    <p class="card-text">The current highscore is: @scores.Max()</p>
                                }
                                else
                                {
                                    <p class="card-text">There is no current highscore yet</p>
                                }
                            }
                        </div>
                    </div>
                    counter++;
                }
            }
            else {
                isValidQuiz = false;
            }
            validQuizzes.Add(isValidQuiz);
        }
        if (!validQuizzes.Contains(true))
        {
            <div class="jumbotron">
                <h1 class="display-3">There are no valid quizzes. Please return later...</h1>
            </div>
        }
    }
</div>

<div class="modal" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">You need to login to play this quiz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="btn btn-secondary text-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>